<table>
  <thead>
    <tr>
      <th>Contributors</th>
    </tr>
  </thead>
  <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Poll contributors', poll_user_repo_contributors_url, params: { user_id: @user.id, repo_id: @repo_id } %>
